<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ios.devices.name</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D547E61A-0E5B-4544-A90B-4478085A099A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F834A4CA-B038-4CC4-9DC4-632A1A660F00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C4AFD772-E360-469C-A058-A70E4C3EE2BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CoderWGB</string>
	<key>description</key>
	<string>比如iPhone11,8就是iPhone XR</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iOSDevicesv1.0.0 </string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F834A4CA-B038-4CC4-9DC4-632A1A660F00</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>iosdevice</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在翻译中...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node run.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>原理就是通过json文件匹配翻译设备名称iPhone11,8 =&gt; iPhone XR</string>
				<key>title</key>
				<string>输入设备identifier 类似于iPhone11,8这种格式的字符串</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D547E61A-0E5B-4544-A90B-4478085A099A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已拷贝至剪贴板📋</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C4AFD772-E360-469C-A058-A70E4C3EE2BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>C4AFD772-E360-469C-A058-A70E4C3EE2BF</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>D547E61A-0E5B-4544-A90B-4478085A099A</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F834A4CA-B038-4CC4-9DC4-632A1A660F00</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0 </string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
